body {
  background-image: url('https://tbcrozier.github.io/portfolio/images/background2.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
